<div class="card">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-12">
      <div class="thumbnail">
        <img [src]="item.urlToImage" class="portrait" alt="Image" />
        <!-- <img class="news-img" [src]="item.urlToImage" alt="image" height="100%" width="100%"> -->
      </div>
      
    </div>
    <div class="col-lg-10 col-md-8 col-sm-12 main-content">
      <h2 class="title"><a rel="bookmark" title="item.title" (click)="openUrl()">{{ item.title }}</a></h2>
      <div class="post-meta">
        <span class="source" *ngIf="item.source.name"><i class="fas fa-link gray"></i> {{ item.source.name }} </span>
        <span class="author" *ngIf="item.author"><i class="fas fa-user-circle gray"></i> {{ item.author }} </span>
        <span class="gray"><i class="fas fa-clock"></i> <time class="entry-date published"> {{ time }} </time></span>
      </div>
      <div>
        <p>
          {{ item.content }}
        </p>
      </div>
    </div>
  </div>
</div>

