.card {
  background: #fff;
  border-radius: 10px;
  display: inline-block;
  margin: 10px 10px 10px 0;
  padding: 1rem;
  width: 100%;
  border-color: #e0e0e0;
  transition-duration: .218s;
}

.card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.22);
}

.title {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  margin-bottom: 10px;
  color: #007bff;
}

.title:hover {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.post-meta {
  margin-bottom: 16px;
}

.author {
  margin-right: 10px;
  color: #16a085;
}

.source {
  margin-right: 10px;
  color: #007bff;
}

.gray {
  color: #aaaaaa;
}

.fa {
  font-size: 16px;
  margin-right: 5px;
}

.fas {
  font-size: 16px;
  margin-right: 5px;
}

.news-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.thumbnail img.portrait {
  /* width: 100%; */
  height: auto;
}


@media (max-width: 768px) {
  .thumbnail img.portrait {
    width: 100%;
    height: auto;
  }

  .thumbnail {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
}

@media (min-width: 992px) {
  .main-content {
    padding-left: 78px;
  }
}
