<div class="nav fixed-top justify-content-center">
  <div class="container">
    <div class="text-center news-title">
      <p>Latest News Search</p>
      <div class="refreshDiv">
        <span class="timerCounter">
          Refresh in {{ counter }} second
        </span>
      </div>
    </div>
    <form class="search_form">
      <div class="input-group">
        <input type="text" class="form-control url-input" name="url" placeholder="Search..." autocomplete="off"
          [(ngModel)]="searchData.query">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit" (click)="onSearchSubmit()">
            <i class="fas fa-search"></i>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>

<div class="container news-content" *ngIf="newsArray.length > 0">
  <div class="search-results" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
    <app-card [item]="item" *ngFor="let item of newsArray"></app-card>
  </div>
</div>
<div class="no-nontent text-center" *ngIf="showInfo">
  {{info}}
</div>
