.nav {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.news-title {
  margin: 10px 10px 0;
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
}

.news-title p {
  margin-bottom: 0;
}

.timerCounter {
  font-size: 12px;
  padding: 0px;
}

@media (min-width: 768px) {
  .timerCounter {
    float: right;
    margin-top: -30px;
  }
}

.search_form {
  width: 100%;
  margin: auto;
  padding: 10px 0;
}

.form-control {
  border: none;
  background-color: #f0f0f0;
  color: #000000;
  font-size: 20px;
  height: 60px;
  border-radius: 40px !important;
  padding: 0px 84px 0px 40px;
  will-change: transform;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 0 #fff;
}

.form-control:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 0px 0px rgba(0, 0, 0, 0.2);
}

.form-control::placeholder {
  color: rgba(136, 136, 136, 0.6);
  opacity: 1;
}

.btn-default {
  position: absolute;
  color: #000000;
  top: 0px;
  right: 12px;
  width: 64px;
  height: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  z-index: 5;
  will-change: transform;
  transition: 0.3s ease-in-out;
}

.btn-default:focus {
  box-shadow: 0 0 0 #fff;
}

.news-content {
  margin-top: 138px;
}

.no-nontent {
  margin-top: 20%;
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  color: #cecece;
}

.form-loading {
  padding-right: 46px;
}

@media (max-width: 767.98px) {
  .refreshDiv {
    margin-top: -20px;
    margin-bottom: -10px;
  }

  .form-control {
    height: 40px;
  }

  .news-content {
    margin-top: 132px;
  }
}
